body {
  background: #808080;
  font-family: "ヒラギノ丸ゴシック",sans-serif;
}
div{
  background: #ffffff;
  width: 800px;
  padding: 80px;
  text-align: center;
  margin: 30px auto;
  border-radius:30px;

}
.page-title{
  position: relative;
}
.page-title:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  
}
.circle{
  display: inline-block;
  width: 80px;
  height:80px;
  border-radius: 50%;
  background: skyblue;
  text-align:center;
  line-height: 80px;
}


#form2{
  position:relative;
  max-width:300px;	
  margin-bottom:20px;
  }
  #sbox2{
  height:50px;
  padding:0 10px; 
  position:absolute; 
  left:0;
  top:0; 
  border-radius:2px;
  outline:0;
  background:#eee;	
  }
  #sbtn2{
  height:50px;
  position:absolute; 
  left:255px;/*アイコン左右の位置調整*/
  top:0;
  background:none;
  color:#666;
  border:none;
  font-size:10px;/*アイコンサイズ*/
  }
  #sbtn5:hover{
  color:#7fbfff;
  }